//- index.pug

extends ./layout/_template

block variable
	- const page = 'home';
	- const path = "/";

block main
	main.l-home
		//- FV
		section.p-index-fv
			.p-index-fv__inner
				.p-index-fv__content#js-fv-trigger
					h2.p-index-fv__copy わたし史上
						br
						| いちばん輝く素肌。
					p.p-index-fv__sub-copy
						span 肌質・体質に合わせた
						span パーソナライズスキンケア
					a.p-index-fv__btn.c-btn(href="/") 無料パーソナル診断を受けてみる
				a.p-index-fv__cta-btn#js-cta-trigger(href="/")
					span.p-index-fv__cta-title 無料パーソナル診断実施中
					span.p-index-fv__cta-text 10,000通りの中からあなたに
						br
						| ぴったりのスキンケアをご提案します

		//- Concept
		section.p-index-concept.js-fadeIn
			.p-index-concept__inner
				.p-index-concept__content
					h2.c-title--left コンセプト
					p.p-index-concept__description 肌はひとりひとり違うものだから、
						br
						| 流行りにとらわれず、本当に良いものを求めるあなたへ。
					p.p-index-concept__description 10,000通りの組み合わせから
						br
						| あなたの肌質や体質に最適なスキンケアをお届けします。
				figure.p-index-concept__img
					img(src=[path] + "img/concept_index.jpg" alt="" width="590" height="513" decoding="async" loading="lazy")

		//- Product
		section.p-index-product.js-fadeIn
			.p-index-product__inner
				h2.c-title--center 商品一覧
				ul.p-index-product__item-list
					li.p-index-product__item
						article.p-index-product__item-card.c-product-card
							.c-product-card__head
								figure.c-product-card__thumbnail
									img(src=[path] + "img/product_item_01.jpg" alt="TO Uの商品、化粧水の画像" width="1" height="1" decoding="async" loading="lazy")
								span.c-product-card__title 化粧水
							.c-product-card__body
								p.c-product-card__description 敏感肌、脂性肌、乾燥肌等あなたの肌の性質にあった水分量と油分量のバランスを整え、保水力と免疫力もアップします。
								span.c-product-card__detail
									span 内容量：200ml
									span 使用目安：3ヶ月
							a.c-product-card__btn 詳しくはこちら
					li.p-index-product__item
						article.p-index-product__item-card.c-product-card
							.c-product-card__head
								figure.c-product-card__thumbnail
									img(src=[path] + "img/product_item_02.jpg" alt="TO Uの商品、美容クリームの画像" width="1" height="1" decoding="async" loading="lazy")
								span.c-product-card__title 美容クリーム
							.c-product-card__body
								p.c-product-card__description 肌質に合わせた成分で、本来のしっとり柔らかな肌の再生、アンチエイジング効果もあります。
								span.c-product-card__detail
									span 内容量：60g
									span 使用目安：3ヶ月
							a.c-product-card__btn 詳しくはこちら
					li.p-index-product__item
						article.p-index-product__item-card.c-product-card
							.c-product-card__head
								figure.c-product-card__thumbnail
									img(src=[path] + "img/product_item_03.jpg" alt="TO Uの商品、乳液の画像" width="1" height="1" decoding="async" loading="lazy")
								span.c-product-card__title 乳液
							.c-product-card__body
								p.c-product-card__description 化粧水と美容クリームの後、潤いと美容成分を閉じ込めキープします。
								span.c-product-card__detail
									span 内容量：90g
									span 使用目安：3ヶ月
							a.c-product-card__btn 詳しくはこちら

		//- Event
		section.p-index-event.js-fadeIn
			.p-index-event__outer
				.p-index-event__inner
					h2.c-title--center パーソナル診断の流れ
					ol.p-index-event__step-list
						li.p-index-event__step-item
							figure.p-index-event__step-head(data-number="01")
								img(src=[path] + "img/step_index_01.png" alt="ステップ1" width="1" height="1" decoding="async" loading="lazy")
							p.p-index-event__step-body 診断を受ける
							span.p-index-event__step-foot 3分程のオンライン美容分析診断を行い、あなたの肌の調子をチェックします。
						li.p-index-event__step-item
							figure.p-index-event__step-head(data-number="02")
								img(src=[path] + "img/step_index_02.png" alt="ステップ1" width="1" height="1" decoding="async" loading="lazy")
							p.p-index-event__step-body スキンケアセットの提案
							span.p-index-event__step-foot 分析結果を元に、10,000通りの組み合わせからあなたに最適な化粧品をご提案します。
						li.p-index-event__step-item
							figure.p-index-event__step-head(data-number="03")
								img(src=[path] + "img/step_index_03.png" alt="ステップ1" width="1" height="1" decoding="async" loading="lazy")
							p.p-index-event__step-body 玄関先まで送付
							span.p-index-event__step-foot 2週間以内に玄関先または郵便ボックスにスキンケアセットをお届けします。
					a.p-index-event__btn.c-btn(href="/") 無料パーソナル診断を受けてみる

		//- News
		section.p-index-news.js-fadeIn
			.p-index-news__inner
				h2.c-title--center お知らせ
				dl.p-index-news__list
					.p-index-news__item
						a.p-index-news__link(href="/")
							dt.p-index-news__date 2021/12/01
							dd.p-index-news__title 連休中の対応について
					.p-index-news__item
						a.p-index-news__link(href="/")
							dt.p-index-news__date 2021/10/12
							dd.p-index-news__title 商品入荷のお知らせ
					.p-index-news__item
						a.p-index-news__link(href="/")
							dt.p-index-news__date 2021/09/13
							dd.p-index-news__title サイトオープンしました。
				a.p-index-news__btn.c-btn(href="/") お知らせ一覧はこちら

		//- Campaign
		section.p-index-campaign.js-fadeIn
			.p-index-campaign__inner
				h2.c-title--center 初回限定価格
				.p-index-campaign__head
					.p-index-campaign__price
						.p-index-campaign__normal-price
							span.-title 通常価格
							span.-shipping-fee （送料別）
							| 9,800
							span.-yen 円
							span.-tax （税込）
						.p-index-campaign__limited-price
							span.-tax 税込
							| 4,980
							span.-yen 円
				.p-index-campaign__body
					span.p-index-campaign__set-name セット内容
					ul.p-index-campaign__set-items
						li.p-index-campaign__set-item 化粧水 200ml 1本
						li.p-index-campaign__set-item 美容クリーム 60g 1個
						li.p-index-campaign__set-item 乳液 90g 1本
					span.p-index-campaign__set-text さらに！30日間全額返金保証付き
					figure.p-index-campaign__set-img
						img(src=[path] + "img/campaign_index.jpg" alt="初回限定セットの内容（化粧水200ml、美容クリーム60g、乳液90g）" width="3" height="2" decoding="async" loading="lazy")
				.p-index-campaign__foot
					a.p-index-campaign__btn.c-btn(href="/") 無料パーソナル診断を受けてみる

		//- CTA
		.c-cta-banner-mobile
			a.c-cta-banner-mobile__link(href="/")
				span.c-cta-banner-mobile__text 無料パーソナル診断はこちら

block script
	script(src=[path]+"js/main.bundle.js")
