@use '../../global' as *;

/**
 * p-index-news
 */

.p-index-news {
  padding-top: 120px;
  padding-bottom: 120px;
  @include mq(mobile) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.p-index-news__inner {
  width: calc(100% - 22.5vw);
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  @include mq(mobile) {
    width: calc(100% - 12.5vw);
  }
}

.p-index-news__list {
  @include flex;

  flex-direction: column;
}

.p-index-news__link {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid $base-color-200;
  transition: background-color $transition;
  @include flex(space-between, center);
  @include hover(true) {
    background-color: $main-color-100;
  }
  @include mq(mobile) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.p-index-news__date {
  width: 156px;
  padding-right: 35px;
  padding-left: 35px;
  font-size: fluid(14, 16);
  font-weight: 500;
  text-align: center;
  @include mq(mobile) {
    width: auto;
    padding-right: 16px;
    padding-left: 0;
    text-align: left;
  }
}

.p-index-news__title {
  flex: 1;
  font-size: fluid(14, 16);
}

.p-index-news__btn {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  @include mq(mobile) {
    margin-top: 50px;
  }
}
