@use '../../global' as *;

/**
 * p-index-campaign
 */

.p-index-campaign {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(/img/bg_shadow.jpg) no-repeat;
  background-size: cover;
  @include mq(mobile) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.p-index-campaign__inner {
  position: relative;
  width: calc(100% - 12.5vw);
  max-width: 1080px;
  padding: 60px 70px;
  margin-right: auto;
  margin-left: auto;
  background-color: $base-color-300;

  &::before {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    width: calc(100% - 10px * 2);
    height: calc(100% - 10px * 2);
    content: '';
    border: 1px solid $main-color-300;
  }

  @include mq(mobile) {
    padding: 46px;
  }
}

.p-index-campaign__head {
  padding-top: 30px;
}

.p-index-campaign__price {
  // position: relative;
  line-height: 1;

  @include flex(center, flex-end);

  @include mq(mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.p-index-campaign__normal-price {
  position: relative;
  padding-top: 58px;
  padding-right: 50px;
  font-size: fluid(64, 80);
  color: $base-color-100;

  &::before {
    position: absolute;
    right: 10px;
    bottom: 40px;
    display: inline-block;
    width: 24px;
    height: 40px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    content: '';
    background-color: $main-color-300;
  }
  @include mq(mobile) {
    &::before {
      top: 90px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }

  > span {
    display: inline-block;
  }

  > span.-title {
    position: absolute;
    top: 0;
    left: 4px;
    font-size: rem(34);
    @include mq(mobile) {
      font-size: rem(18);
    }
  }

  > span.-shipping-fee {
    position: absolute;
    top: 14px;
    left: 144px;
    font-size: rem(20);
    @include mq(mobile) {
      top: 3px;
      left: 80px;
      font-size: rem(14);
    }
  }

  > span.-yen {
    font-size: fluid(20, 40);
  }

  > span.-tax {
    padding-left: 10px;
    font-size: rem(20);
  }

  &::after {
    position: absolute;
    bottom: 36px;
    left: -4px;
    display: inline-block;
    width: fluid(180, 254);
    height: 5px;
    content: '';
    background-color: $accent-color-primary;
    transform: rotate(-16deg);
  }

  @include mq(mobile) {
    padding-top: 24px;
    padding-right: 0;
    font-size: rem(50);
    letter-spacing: -0.02em;
  }

  @include mq(mobile) {
    &::after {
      bottom: 22px;
      width: 152px;
    }
  }
}

.p-index-campaign__limited-price {
  position: relative;
  padding-top: 40px;
  font-size: fluid(64, 150);
  color: $main-color-300;

  > span.-tax {
    position: absolute;
    top: 0;
    left: 0;
    font-size: fluid(18, 30);
  }

  > span.-yen {
    font-size: fluid(30, 75);
  }

  &::after {
    position: absolute;
    top: 0;
    right: -3%;
    display: inline-block;
    width: 72px;
    height: 72px;
    content: '';
    background: url(/img/campaign_point.png) no-repeat;
    background-size: contain;
  }
  @include mq(mobile) {
    padding-top: 30px;
    margin-top: 42px;

    &::after {
      top: -16px;
      right: -28px;
    }
  }
}

.p-index-campaign__body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 600px;
  max-width: 100%;
  padding: 30px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid $main-color-300;
  @include mq(mobile) {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
    border: none;
    border-top: 1px solid $main-color-300;
  }
}

.p-index-campaign__set-name {
  position: absolute;
  top: -1em;
  left: 50%;
  padding: 10px;
  font-size: rem(18);
  font-weight: 700;
  line-height: 1;
  color: $main-color-300;
  background-color: $base-color-300;
  transform: translateX(-50%);
}

.p-index-campaign__set-items {
  flex-direction: column;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  @include flex(center);
  @include mq(mobile) {
    grid-row: auto;
    grid-column: auto;
    margin-right: auto;
  }
}

.p-index-campaign__set-item {
  position: relative;
  padding-left: 16px;
  font-size: rem(15);
  line-height: 1;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    background-color: currentcolor;
    transform: translateY(-50%);
  }
}

.p-index-campaign__set-item + .p-index-campaign__set-item {
  margin-top: 20px;
}

.p-index-campaign__set-text {
  display: inline-block;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-size: rem(18);
  line-height: 1;
  vertical-align: bottom;
  background: linear-gradient(transparent 50%, $main-color-200 50%) no-repeat;
  @include mq(mobile) {
    display: block;
    grid-row: auto;
    grid-column: auto;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: rem(16);
  }
}

.p-index-campaign__set-img {
  grid-row: 1 / 3;
  width: 240px;
  height: auto;

  img {
    width: 100%;
  }
  @include mq(mobile) {
    grid-row: auto;
    grid-column: auto;
    order: -1;
    width: 100%;
    text-align: center;
  }
}

.p-index-campaign__foot {
  margin-top: 50px;
  @include flex(center, center);

  @include mq(mobile) {
    margin-top: 10px;
  }
}

.p-index-campaign__btn {
  @include mq(mobile) {
    padding: 23px 50px 23px 14px;
    margin-right: -18px;
    margin-left: -18px;

    &::before {
      right: 10px;
    }
  }
}
