// base color
$base-color-300: #fff;
$base-color-200: #e3e3e3;
$base-color-100: #aaa;

// main color
$main-color-300: #8e8eae;
$main-color-200: #e6e6fa;
$main-color-100: #eaf0f9;

// text color
$text-color-300: #000;
$text-color-200: #202020;
$text-color-100: #333;

// accent color - primary
$accent-color-primary: #e7a9ce;
